body {
    background: #eeeeee;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

div {
    box-sizing: border-box;
}

header {
    background: white;
    margin: auto;
    text-align: center;
    padding: 10px;
}

div.container {
    width: 600px;
    margin: auto;
    box-sizing: border-box;
}
.page-title {
    margin: 10px;
}

header {
    padding: 10px;
    margin-bottom: 40px;
}

div.post {
    background: white;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.post div.post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post div.post-header div:last-child {
    display: inline-block;
    width: 20%;
    text-align: right;
    padding-right: 20px;
}

div.post h2, div.post p {
    padding: 20px;
    margin: 0;
}

div.post img {
    width: 100%;
}